<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="patternConsole">[%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}] [%-5level] - %thread - %l - %msg%n</Property>
    </Properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternConsole}"/>
        </console>
    </appenders>

    <loggers>
        <logger name="jazzhow.command4j" level="info"></logger>
        <root level="all">
            <appender-ref ref="Console"/>
        </root>
    </loggers>

</configuration>